/*Write in your name*/
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
    border-bottom: 2px solid #180f34;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    width: 10%;
}

input[type=text]:focus {
    width: 85%;
}

.namewriting {
    background-color: white;
    margin-top: 100px;
    margin-left: 246px;
    margin-bottom: 100px;
    margin-right: 900px;
    padding: 20px;
}

.submitbutton {
    margin-bottom: 30px;
    margin-left: 256px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(90deg, rgb(185, 182, 229) 0%, rgba(121, 191, 255, 1) 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: all 0.5s;
}

.submitbutton:hover {
    background: linear-gradient(90deg, rgb(135, 132, 165) 0%, rgb(59, 92, 128) 100%);
}

.submitbutton:active {
    background: linear-gradient(90deg, rgb(121, 191, 255) 0%, rgb(185, 182, 229) 100%);;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: all 0.1s;
}


.card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.card img {
    /*object-fit: fill;*/
    display: block;
    /*width: 1080px;*/
}

#placeholder {
    border: 13px outset #401451;
    min-width: 1500px;
    max-width: 1500px;
    margin-bottom: -19px;
}

#canvass {
    border: 13px outset #401451;
    z-index: 0;
    margin-bottom: -5px;
    min-width: 1500px;
    max-width: 1500px;
}

#foreground {
    z-index: 80;
    margin-top: -766px;
    width: 396px;
    min-width: 396px;
    max-width: 396px;
    margin-left: 21px;
}

#animation {
    border-radius: 50%;
    min-width: 243px;
    max-width: 243px;
    z-index: 50;
    margin-top: -326px;
    padding-bottom: 428px;
    margin-left: 98px;
    height: 238px;
}

#custom {
    display: none
}

#customlink {
    display: none;
    margin-left: 270px;
    padding-bottom: 100px;
}

@media screen and (max-width: 834px) {
    .logo-img {
        width: 53px;
    }

    #foreground {
        min-width: 0;
        margin-top: -444px;
        width: 121px;
        margin-left: 24px;
        padding-bottom: 100px;
    }

    #animation {
        min-width: 0;
        width: 68px;
        height: 82px;
        margin-top: -120px;
        padding-bottom: 338px;
        margin-left: 47px;
    }

    #placeholder {
        min-width: 500px;
        max-width: 500px;
        width: 500px;
    }

    #canvass {
        min-width: 500px;
        max-width: 500px;
        width: 500px;
    }

    #card {
        width: 500px;
    }


    #wrapper {
        overflow: scroll;
    }

    .card {
        width: 500px;
        margin-left: 50px;
    }

    .card img {
        width: 300px;
    }

    .arrow {
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-top: 45px solid #cdcadb;
        border-radius: 100%;
    }

    .namewriting {
        margin-right: 0;
        margin-left: 20px;
        padding-left: 20px;
    }

    input[type=text] {
        width: 50%;
    }

    #main {
        padding-top: 150px;
    }

    .submitbutton {
        margin-left: 30px;
        font-size: 20px;
    }
}
