.card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 160px;
    height: fit-content;
}


.card img {
    /*object-fit: fill;*/
    display: block;
    /*width: 1080px;*/
}

#canvass {
    border: 13px outset #401451;
    z-index: 0;
    margin-bottom: -5px;
    min-width: 1500px;
    max-width: 1500px;
}

#foreground {
    z-index: 80;
    margin-top: -417px;
    width: 396px;
    min-width: 396px;
    max-width: 396px;
    margin-left: 21px;
}

#animation {
    border-radius: 50%;
    min-width: 243px;
    max-width: 243px;
    z-index: 50;
    margin-top: -295px;
    padding-bottom: 440px;
    margin-left: 98px;
    height: 238px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #2d4262;
    border-radius: 50%;
    border-top: 16px solid #dabde0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
