/* Add a black background color to the top navigation */
.toolbar {
    background: rgb(185, 182, 229);
    background: linear-gradient(90deg, rgba(185, 182, 229, 1) 0%, rgba(121, 191, 255, 1) 100%);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.toolbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 10px 15px 15px 10px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Segoe UI";
}

/* Change the color of links on hover */
.toolbar a:hover {
    background-color: #e3ebff;
    color: black;
}

/* Add a color to the active/current link */
.toolbar a.active {
    background-color: #221f79;
    color: white;
}

.toolbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .toolbar a:not(:first-child) {
        display: none;
    }

    .toolbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .toolbar.responsive {
        position: relative;
    }

    .toolbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .toolbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.logo-img {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    padding-left: 15px;
}

#container {
    position: relative;
    text-align: center;
    color: white;
}

#text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 19px;
    font-family: "Gabriola";
    top:13px;
    left: 26px;
}


